.neuron-container {
    border: 1px dotted black;
    padding: 2px;
    margin: 2px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: max-content;
    height: max-content;
    gap: 4px;
    border-radius: 5px;
}

.neuron-selected {
    border-style: solid;
    border-width: 2px;
}

.a-s-element-selected {
    stroke-width: 2px;
    animation: a-s-selected 1s infinite;
}

@keyframes a-s-selected {
    from {
        stroke-width: 5px
    }
    to {
        stroke-width: 3px;
    }
}
.neuron-title {
    cursor: pointer;
    border-bottom: 1px dashed black;
    text-align: center;
    font-size: smaller;
    grid-column: 1 / span 2;
}
.neuron-s-elements-container {
    display: grid;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.neuron-a-elements-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}
.neuron-a-elements-container > span {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.neuron-element-container {
    display: grid;
    grid-template-columns: auto auto auto;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.neuron-element-value {
    font-size: xx-small;
}
.neuron-element-name {
    font-size: xx-small;    
}
.neuron-element-icon {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.neuron-element-icon-value {
    display: block;
    background-color: black;
}