.paint-container {
    display: grid;
    grid-template-columns: repeat(20, 5px);
    grid-template-rows: repeat(20, 5px);
    border: 1px black solid;
    max-width: fit-content;
}

.paint-cell {
    margin: 0;
}

.paint-cell-black {
    margin: 0;
    background-color: black;
}
