.sprite-container {
    display: grid;
    grid-template-rows: 7px 7px 7px;
    grid-template-columns: 7px 7px 7px;
    border: 1px green solid;
    max-width: fit-content;
    padding: 5px;
    margin: 7px;
}

.sprite-cell-black {
    background-color: black;
}