.sprite-container {
    display: grid;
    grid-template-rows: 5px 5px 5px;
    grid-template-columns: 5px 5px 5px;
    border: 1px green solid;
    max-width: fit-content;
    padding: 10px;
    margin: 5px;
}

.sprite-cell-black {
    background-color: black;
}